/*for site-wide classes styling elements like forms, error messages, etc*/


.title {

}

.error_container {

}

.form_container {

}

.form_item {

}

#logout {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
